<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header">Head</div>
<body>
<div class="main">
    <div th:replace="fragments/nav">Navigation</div>

    <!-- Main Content -->
    <main role="main">
        <div class="container p-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}" href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Books(All)</li>
                </ol>
            </nav>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Books</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="book,iterStat: ${books}">
                    <tr>
                        <th scope="row" th:text="${iterStat.count}">1</th>
                        <td>
                            <a href="#" th:href="@{/books/details/{id}(id=${book.key})}"
                               th:text="${book.value.title}">Book Title</a>
                        </td>
                        <td th:text="${book.value.genre}">
                            Book Genre
                        </td>
                        <td class="text-right">
                            <a href="#" class="btn btn-secondary btn-sm"><i
                                    class="fa fa-edit"></i> Edit</a>
                            <a href="#" class="btn btn-danger btn-sm"
                               style="color:white;"><i class="fa fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </main>
    <!-- Finish Main Content -->

    <div th:replace="fragments/footer">Footer</div>
</div>
<div th:replace="fragments/scripts">Scripts</div>
</body>
</html>